<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>
    
    <add key="parameterType1" value="Type" />
    <add key="parameterName1" value="Type Mark" />
    
    <add key="parameterType2" value="Instance" />
    <add key="parameterName2" value="Type" />

    <add key="parameterType3" value="Type" />
    <add key="parameterName3" value="Indice acero general" />

    <add key="previousLine" value="True" />

  </appSettings>
  
</configuration>